<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdinfo.smarthome.rest.refrigerator.mapper.AircleanerMapper">

	<select id="getAllAircleaner" resultType="com.sdinfo.smarthome.rest.refrigerator.domain.AircleanerVo">
		SELECT 
		
		A.HOME_CODE, 
		A.MDATE,
		A.UC_PRODUCTTYPE,
		A.UC_MODELGROUP,
		A.UC_POWER,
		A.UC_FANMODE,
		A.UC_TOTALAIRCLEANLESS,
		A.UC_DUSTSTATUS,
		A.UI_DUSTPM2_5DATA,
		A.UC_GASSTATUS,
		A.UC_FILTERALARM,
		A.UC_HUMANBODYSENSOR,
		A.UI_HUMANBODYSENSORDATA,
		A.SC_TEMPSENSOR,
		A.UC_HUMIDITYSENSOR,
		A.UC_BPM_MOVINGPOWER,
		A.UI_BPM_DATA,
		A.RDATE
		
		FROM TBL_AIRCLEANER A
	</select>

</mapper>