<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdinfo.smarthome.rest.refrigerator.mapper.ElecMeterMapper">

	<select id="getAllElecMeter" resultType="com.sdinfo.smarthome.rest.refrigerator.domain.ElecMeterVo">
		SELECT 
		
		A.HOME_CODE, 
		A.MDATE,
		A.DEVICE_ID,
		A.DEVICE_TYPE,
		A.MEASURE_VALUE,
		A.USE_VALUE,
		A.DEVICE_STATUS,
		A.RDATE
		
		FROM TBL_ELEC_METER A
	</select>

</mapper>